.carousel .slider-wrapper.axis-horizontal .slider {
    height: 80vh!important;
}
.carousel .slide .legend {
    position: absolute;
    left: 0px!important;
    top: 0px!important;
    margin-left: unset!important;
    width: 100%!important;
    height: 100%;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.4)!important;
    color: #fff;
    font-size: 12px;
    opacity: 1!important;
    transition: opacity .35s ease-in-out;
}
.legend-inner-container {
    position: absolute;
    right: 20px;
    top: 40%;
    text-align: left;
}
.legend-inner-container h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
.legend-inner-container-2 {
    position: absolute;
    left: 20px;
    top: 40%;
    text-align: left;
}
.legend-inner-container-2 h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
    font-family: "Poppins", sans-serif;
}
.carousel .slide img {
    vertical-align: top;
    border: 0;
}
.about p{
    font-size: 18px;
}

@media (min-width: 200px) and (max-width: 1484px) {
    .legend-inner-container {
        left: 20px;
    }
}
@media (min-width: 924px) and (max-width: 1272px) {
    .carousel .slide img {
        width: 160%!important;
    }
}
@media (min-width: 600px) and (max-width: 924px) {
    .carousel .slide img {
        width: 250%!important;
    }
}
@media (min-width: 300px) and (max-width: 600px) {
    .carousel .slide img {
        width: 400%!important;
    }
}
@media (min-width: 200px) and (max-width: 300px) {
    .carousel .slide img {
        width: 450%!important;
    }
}